.article-records {
  margin-left: 1.5rem;
  grid-column: 1/2;
}
.article {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
  height: 10vh;
  cursor: pointer;
  border: 1px solid $grey;
  color: black;
  text-decoration: underline;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 2px;

  &:hover {
    color: white;
  }
}

@media (max-width: 750px) {
  .article-records {
    grid-row: 3/3;
    margin-left: 0;
  }
}
