.article-records {
  background-color: white;
  margin-left: 1.5rem;
}
.article {
  height: 10vh;
  border: 1px solid black;
  font-size: 14px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  padding: 1rem;
}
