.social-icons {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-right: 6px;

    :hover {
      transition: all 0.3s ease;

      border: black;
    }
  }

  .twitter-icon {
    color: $twitter-color;
  }

  .facebook-icon {
    color: $facebook-color;
  }

  .stack-overflow-icon {
    color: $stack-overflow-color;
  }
}
